main {
    display: grid;
    background-color: lightgrey;

    h2{
        margin-top:20px


    }

    iframe {
        height: 500px;
        width: 500px;
        
    }
}
.video {
    display: flex;
    justify-content: center;
}